{% extends 'app/layout/base.html' %}

{% load static %}
{% block main %}

<!-- Start Breadcrumb 
============================================= -->
<div class="breadcrumb-area text-center" style="background-image: url({% static 'app/assets/img/adnan/logo/bg.png' %}); background-size: cover; background-position: center; padding: 240px 0 120px;">
    <div style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.5); z-index: 1;"></div>

    <div class="container" style="position: relative; z-index: 2;">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 class="wow fadeInUp" data-wow-delay="500ms" data-wow-duration="400ms" style="color: white;">
                    Berita Ventra<strong><span class="blue-text">PLUS+</span></strong>
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center" style="background: transparent;">
                        <li><a href="{% url 'app:index_app' %}" style="color: white;"><i class="fas fa-home" style="color: white;"></i> Home</a></li>
                        <li class="active" style="color: white;">Berita</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Blog
    ============================================= -->
    <div class="blog-area single full-blog right-sidebar full-blog default-padding-bottom mt-30">
        <div class="container">
            <div class="blog-items">
                <div class="row">
                    <div class="blog-content col-xl-8 col-lg-7 col-md-12 pr-35 pr-md-15 pl-md-15 pr-xs-15 pl-xs-15">
                        <div class="blog-style-two item">
                            <div class="blog-item-box">
                                <div class="thumb">
                                    <a href="#"><img src="{{ data_berita_details.images.url }}" alt="Thumb"></a>
                                </div>
                                <div class="info">
                                    <h2 class="title">
                                        <a href="#">{{ data_berita_details.judul|safe }}</a>
                                    </h2>
                                    <div class="meta">
                                        <ul>
                                            <li>
                                                <a href="#"><i class="far fa-calendar-alt"></i>{{ data_berita_details.created_at|date:" d F Y"|upper }}</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="far fa-user-circle"></i> Admin</a>
                                            </li>
                                            <li>
                                                <i class="fas fa-tag"></i>
                                                {% for tag in data_berita_details.tag.all %}
                                                    <a href="#">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                                                {% endfor %}
                                            </li>                                        
                                        </ul>
                                    </div>
                                    <p>
                                        {{ data_berita_details.deskripsi_berita|safe }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Start Sidebar -->
                    <div class="sidebar col-xl-4 col-lg-5 col-md-12 mt-md-50 mt-xs-50">
                        <aside>
                            <div class="sidebar-item recent-post">
                                <h4 class="title">Recent Post</h4>
                                <ul>
                                    {% for recent in dt_berita|slice:":4" %}
                                    <li>
                                        <div class="thumb">
                                            <a href="{% url 'app:berita_details_app' recent.slug %}">
                                                <img src="{{ recent.images.url }}" alt="Thumb">
                                            </a>
                                        </div>
                                        <div class="info">
                                            <div class="meta-title">
                                                <span class="post-date">{{ recent.created_at|date:"d M, Y" }}</span>
                                            </div>
                                            <a href="{% url 'app:berita_details_app' recent.slug %}">
                                                {{ recent.judul|truncatechars:300 }}
                                            </a>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="sidebar-item tags">
                                <h4 class="title">tags</h4>
                                <div class="sidebar-info">
                                    
                                    <ul>
                                        {% for tag_berita in dt_berita %}
                                        {% for tags in tag_berita.tag.all %}
                                        <li>
                                            <a href="#">{{tags}}</a>
                                        </li>
                                        {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <!-- End Start Sidebar -->

                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->

{% endblock main %}