    {% load static %}
    <!-- ========== Meta Tags ========== -->    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DEIYAIPLUS - Perpustakaan Digital Untuk Masyarakat Cerdas">

    <!-- ========== Page Title ========== -->
    <title>VentraPLUS - Perpustakaan Digital Untuk Masyarakat Cerdas</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{% static 'admin/assets/media/misc/bg ventra.png' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'app/assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/assets/css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'app/assets/css/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/assets/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/assets/css/validnavs.css' %}" rel="stylesheet">
    <link href="{% static 'app/assets/css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'app/assets/css/unit-test.css' %}" rel="stylesheet">
    <link href="{% static 'app/assets/css/style.css' %}" rel="stylesheet">
    <!-- ========== End Stylesheet ========== -->
    <style>
        .blue-text {
          color: blue;
        }
        
    </style>